* {
    margin: 0;
    padding: 0;
    outline: none;
}
a{
    text-decoration: none;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;

}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('../image/preloading.gif') no-repeat center;
    z-index: 9999;
}





.heading_text {
    background: #4E7FC9;
}

.heading_text h1 {
    color: #fff;
    padding: 35px 0px;
}

.banar {
    padding: 110px 0px;
    background: url(../image/glo36-g.jpg) no-repeat scroll 0 0 / 100% 100%;
    height: 400px;
}

.main_result_area {
/*  background: url(../image/image.jpg) no-repeat scroll 0 0 / 100% 100%;*/
/*    background-color: #4789E1;*/
    padding: 0px 0px 30px 0px;
    background: #373737;
}

.result_date {}

.result_date h1 {
    font-size: 36px;
    color: #fff;
    padding: 25px 0px;
  
}

.result_btn {}

.result_btn button {
    font-size: 36px;
    color: #fff;
    background: red;
    border: gray;
    box-shadow: 5px 5px 12px 2px rgb(16, 14, 14);
    transition: 0.5s;
          border: 2px solid yellow;
}

.result_btn button:hover {
   color: #fff;
    background: red;
    border: 2px solid yellow;

}

.live_result {
    padding: 25px 0px;

}

/*Change location start*/
.headoffice_name h4 {
	font-size: 23px;
	color: rgb(255, 255, 255);
	font-weight: 700;
	line-height: 20px;
}

/*start location area*/
.location_area {
    padding: 25px 0px;
   

}

.heaidng_h {
    margin: 0 auto;
}

.location_area {
	padding: 25px 0px;
    background: #ffe6e6;
}

.locaton {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.location_icon {
    margin-right: 25px;
}

.location_icon i {
    font-size: 36px;
    color: black;
}

.location_text {}

.location_text h1 {
    font-size: 20px;
    padding-bottom: 10px;
}

.location_text h2 {
    font-size: 16px;
}
.phone{
    margin-left: 55px;
}




/*map area 2nd html start*/
.location_map {
    text-align: center;
    width: 100%;
}
.location_map iframe {
	height: 300px;
	width: 100%;
	align-items: center;
	border: 2px solid black;
}

.map_area{
      width: 100%;
    margin: 0 auto;
}
.back{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4E7FC9;
    padding: 25px;
    
}
.back_icon{}
.back_icon i{
    font-size: 20px;
    color: #fff;
}
.back_location{}
.back_location p{
    font-size: 20px;
    color: #fff;
}
/*map area 2nd html end*/


/*edit Css*/
/*mebmebr list start*/
.main_member_area {
	background: #ccfbc8;
}
.member_list{}
.member_list h1 {
	font-size: 19px;
	font-weight: 700;
	color: #560ef4;
}
.member_list h1 i{
    font-size: 18px;
    margin-right: 17px;
    color: #560ef4;
}
.drow_date h3{
     font-size: 25px;
    font-weight: 700;
    color: #ef2207;
}
/*mebmebr list end*/

.card-text{
    font-size: 26px;
    font-weight: 700;
}
.headoffice{
    padding: 0px 0px;
    position: relative;
}

.name{
    font-size: 18px;
    font-weight: 700;
}
.table {
	border: 1px solid black;
	text-align: center;
    margin-bottom: 0px;
}
.t_head{
    color: red;
    background: yellow;
     border: 5px solid red;
    
}
th{
    border: 1px solid black; 
}
td{
     border: 1px solid black;
}
.body-border{
    border: 5px solid red;
}

.items{
    display: flex;
    justify-content: space-between;
    
}
.ep-logo{
    flex-basis: 25%;
}
.ep-logo img{
    max-width: 100px;
}

.ep-text{
    flex-basis: 75%;
}
.card-title {
	font-size: 16px;
	font-weight: 700;
}
.ep-text h6 {
	font-size: 22px;
	word-spacing: 10px;
}
.card-text {
	font-size: 19px;
	font-weight: 700;
}
.m-toggle{
    padding-top: 15px;
    padding-bottom: 25px;
}
.m-toggle button{
    font-size: 22px;
    color: yellow;
    font-weight: 700;
}
.m-toggle button:hover{
    color: red;
    background: yellow;
}
@media all and (max-width: 480px) {
    .table-striped{
        display: none;
    }
    }

.live_result a button{
    display: inline-block;
    background: red;
    font-size: 22px;
    color: #fff;
}


/*new add*/
.bg{
    background:#d9bf36;
}
.paper_area{
    text-align: center;
}
.head_heading{}
.head_heading h1 {
	font-size: 27px;
	font-weight: 900;
	margin-top: 18px;
}
.head_heading h4 {
    margin-top: 30px;
    text-align: left;
    font-size: 22px;
	font-weight: 900;
border-bottom: 3px solid #000000;
}
.head_heading p {
	font-size: 18px;
	font-weight: 300;
    line-height: 20px;
	margin-top: 18px;
    text-align: left;
    padding: 15px 10px;
    padding-top: 0px;
}

.game_paper{}
.game_paper a {
	display: inline-block;
	text-decoration: none;
	color: #2506ff;
	font-size: 27px;
	border-radius: 10px;
	background: #6c390c;
	padding: 7px 10px;
	box-shadow: 0px 0px 10px 0px #gray;
	font-weight: 900;
}
.game_paper p {
	font-size: 20px;
	color: #f00;
	font-weight: 900;
	padding: 20px 0px 10px;
}
.ep-item{
  
}
.card-title {
	font-size: 16px;
	font-weight: 700;
	color: #f00;
}
.down_image_area{
    padding-top: 25px;
}
.down_image{}
.down_image img{
    width: 100%;
    height: 200px;
  
}
.notice{}
.notice h5 {
	font-size: 20px;
	font-weight: 700;
	color: #f00;
	padding: 15px;
	text-align: justify
}
.up_paper_area{
    text-align: center;
}
.up_main{}
.up_main h1{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    padding: 25px;
}
.up_main img{
    width: 100%;
    height: auto;
  
}

.location_map{}
.location_map img{
    width: 100%;
    height: 300px;
}

.form_area{}
.form_area{}
.form_group{
    margin: 10px 0px;
}
.form_group label{
     font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
    color: #ffffff;
    background: #ff0000;
    display: block;
    width: 100%;
    padding: 20px 10px;
    font-weight: 700;
}
.form_group input{
    display: block;
     font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    background: none;

    border: none;
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
}
.form_group img{
    width: 100%;
}